.movies-card-list {
  background: #202020;
  max-width: 1280px;

  min-height: calc(100vh - 488px);
  height: calc(100% - 488px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies-card-list__container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 28px;
  row-gap: 32px;
  padding: 70px 70px 10px;
  margin: 0;
  justify-content: center;
}

.movies-card-list__not-found {
   /* 558px */
  color: #FFF;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  padding: 70px 0 0;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 342px);
    column-gap: 24px;
    row-gap: 35px;
    padding: 70px 30px 30px;
  }
}

@media screen and (max-width: 400px) {
  .movies-card-list {
    min-height: calc(100vh - 570px);
  }

  .movies-card-list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 0;
    row-gap: 16px;
    padding: 20px 10px 30px;
  }
}
