.movies {
  max-width: 1280px;
  width: 100%;
}

.movies__more-container {
  background: #202020;
  padding: 0;
  margin: 0;
}

.movies__more-button {
  width: calc(100% - 140px);
  border-radius: 6px;
  background: #2F2F2F;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 11px 0 9px;
  margin: 50px 70px 80px;
  cursor: pointer;
}

.movies__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .movies__more-button {
    width: calc(100% - 60px);
    margin: 50px 30px 80px;
  }
}

@media screen and (max-width: 500px) {
  .movies__more-button {
    width: calc(100% - 20px);
    margin: 50px 10px 80px;
  }
}

